<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Projet Django</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li><a href="{% url 'bibliothecaire:bibliothecaire_home' %}">Bibliothécaire</a></li>
            <li><a href="{% url 'membre_home' %}">Membre</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>