<!-- templates/bibliothecaire/liste_membres.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Membres</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Liste des Membres</h1>

    {% if membres %}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Date d'Inscription</th>
                </tr>
            </thead>
            <tbody>
                {% for membre in membres %}
                    <tr>
                        <td>{{ membre.nom }}</td>
                        <td>{{ membre.email }}</td>
                        <td>{{ membre.date_inscription }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun membre trouvé.</p>
    {% endif %}

    <a href="{% url 'bibliothecaire:ajouter_membre' %}">Ajouter un Membre</a>
</body>
</html>