<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Membres</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Liste des Membres</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for membre in membres %}
            <tr>
                <td>{{ membre.id }}</td>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.email }}</td>
                <td>
                    <a href="{% url 'mettre_a_jour_membre' membre.id %}">Modifier</a>
                    <a href="{% url 'supprimer_membre' membre.id %}">Supprimer</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Aucun membre disponible.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'creer_membre' %}">Ajouter un Nouveau Membre</a>
    <a href="{% url 'liste_medias' %}">Retour à la liste des Médias</a>
</body>
</html>